/*--이지민 작성--*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #62D3DA;
}
body{
    font-size: 14px;
    font-family: Montserrat;
}


#main-decoration {
    z-index: 1;
}
#decoration-logo_box {
    background-color: transparent;
    top: 45%;
    margin-left: -280px;
    position: absolute;
}
#decoration-logo {
    opacity: 0.2;
    width: 600px;
}
#decoration-rectangles {
    opacity: 0.3;
    background-color: transparent;
    position: absolute;
    right: 0%;
    top: 20%;
}
#decoration-rectangles > div {
    background-color: #E9F7F6;
    height: 25px;
    margin-top: 20px;
}
#decoration-circle_box {
    opacity: 0.3;
    background-color: transparent;
    position: absolute;
    right: 0%;
    bottom: 0;
    width: 280px;
    height: 300px;
    overflow: hidden;
}
#decoration-circle_big {
    background-color: transparent;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 80px solid #E9F7F6;
}
#decoration-circle_left {
    opacity: 0.3;
    position: fixed;
    background-color: #E9F7F6;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    left: 250px;
    top: 34%;
}
#decoration-circle_right {
    opacity: 0.3;
    position: absolute;
    background-color: #E9F7F6;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    right: 250px;
    top: 65%;
}
#decoration-circle_top {
    position: absolute;
    opacity: 0.3;
    background-color: transparent;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 50px solid #E9F7F6;
    top: -200px;
    left: 22%;
}




.login-top{
    position: relative;
    z-index: 3;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 10px;
    background-color: transparent;
}
#login-logo{
    display: inline-block;
    padding-left: 0;
    font-family: Bebas Neue;
    color: #ffffff;
    font-size: 40px;
    padding-left: 70px;
}
.login-top > img {
    position: relative;
    top: 35px;
    background-color: transparent;
}

.login-wrapper{
    position: relative;
    z-index: 2;
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #D3F0F0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}
.login-wrapper > h2{
    font-size: 28px;
    color: #40BBCA;
    background-color: #ffffff;
    margin-bottom: 15px;
}
#login-form{
    background-color: #ffffff;
}
#login-form > input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #A5A5A5;
}
#login-form > input::placeholder{
    color: #A5A5A5;
}
#login-form > input[type="submit"]{
    color: #ffffff;
    font-size: 16px;
    background-color: #62D3DA;
    margin-top: 10px;
    border: 0px;
}
#login-form > input[type="checkbox"]{
    display: none;
    padding-right: 5px;
}
#login-form > label{
    background-color: #ffffff;
    color: #A5A5A5;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-signup_pwsearch {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
#login-signup_pwsearch > a{
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
}