@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    background-color: #fcfcfc;
    background-image: url('../img/background-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: #40BBCA;
}
li{
    list-style: none;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.1);
    position: relative;
    z-index: 2;
}
#nav-menu{
    display: flex;
    padding-left: 0;
    font-family: Montserrat;
    font-size: 18px;
}
#nav-menu::after{
    display: block;
    content: '';
    clear: both;
}
#nav-menu > li{
    position: relative;
    float: left;
    padding: 8px 15px;
}
#nav-menu > li > a{
    display: block;
    padding: 0 15px;
}
#nav-menu > li:hover #nav-menu_sub{
    display: block;
}
#nav-menu #nav-menu_sub{
    display: none;
    position: absolute;
    width: 120px;
    padding-top: 10px;
    left: -50px;
    text-align: center;
    font-size: 16px;
}
#nav-menu #nav-menu_sub a{
    display: block;
    padding: 10px;
    background: #d3f0f0;
}
#nav-logo{
    padding-left: 0;
    font-family: Bebas Neue;
    font-size: 40px;
    align-items: center;
    left: 50%;
    padding-left: 100px;
    padding-right: 250px;
}
.nav-logo_data{
    color: #94D4D8;
}
#nav-logout_button{
    margin-right: 20px;
    width: 90px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid #40BBCA;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);

    font-size: 14px;
    color: #40BBCA;
}

#main-decoration {
    z-index: 1;
}
#decoration-logo_box {
    top: 65%;
    margin-left: -280px;
    position: absolute;
    width: 600px;
    height: 400px;
    overflow: hidden;
}
#decoration-logo {
    opacity: 0.2;
    width: 600px;
}
#decoration-rectangles {
    position: absolute;
    top: 20%;
    right: 0%;
}
#decoration-rectangles > div {
    background-color: #E9F7F6;
    height: 25px;
    margin-top: 20px;
}
#decoration-circle_box {
    position: absolute;
    top: 75%;
    right: 0%;
    width: 280px;
    height: 300px;
    overflow: hidden;
}
#decoration-circle_big {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 80px solid #E9F7F6;
}
#decoration-circle_left {
    position: absolute;
    background-color: #E9F7F6;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    left: 180px;
    top: 55%;
}
#decoration-circle_right {
    position: absolute;
    background-color: #E9F7F6;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    right: 11%;
    top: 72%;
}

main{
    margin-top: 30px;
    min-height: 830px;
}
.main-container{
    width: 1060px;
    margin: auto;
    display: grid;
    grid-template-columns: 660px 380px;
    grid-template-rows: 800px;
    gap: 10px;
}
.main-section{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 2px solid #d3f0f0;
    border-radius: 10px;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.1);
    z-index: 2;
}
.main-right{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 10px;
}
.main-right > div:first-child{
    width: 100%;
    flex: 1;
}
.main-right > div:last-child{
    width: 100%;
    flex: 2;
}
#main-timetable_top{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: #40BBCA;
}
#main-plus_button{
    background-color: transparent;
    border: 0px;

    font-size: 52px;
    font-weight: 500;
    color: #40BBCA;
}

/* 남서린 작성---------------------------------------------------------------------------------------- */
/* 강의추천 기본 텍스트박스 */
#section-block{
    /* 내용 박스 디자인(색, 모양 등) */
    background-color: white;
    border: 3px solid rgb(233,247,246);
    box-shadow: 1px 3px 3px 3px rgb(200, 200, 200);
    border-radius: 5px;

    align-self: center;
    width: 1000px;
    height: 700px;
    padding-bottom: 10px;
    /* margin설정하니까 페이지 가운데로 자동정렬되네요! */
    margin: 0 auto;
}
strong{
    color: #40BBCA;
}
#div-class_box>p{
    background-color: rgb(233,247,246);
    padding: 10px;
    margin: 0 auto;
}
/* 설문지 내 글자 리스트 */
div>ol>li{
    font-size: 20px;
}
/* 요일 버튼 */
#section-class_day>li{
    margin-right: 70px;
    float: left;
}
/* 강의추천받기 버튼 */
#input-recommend_submit{
    width: 300px;
    height: 80px;
    font-size: 30px;
    margin: 30px auto;
    display: block;
    background-color: #62D3DA;
    border-radius: 10px;
    color: white;
    border: white;
    font-weight: bold;
}
/* 추천학점 입력 */
#div-fill_credit{
    height: 30px;
    width: 100px;
    margin-left: 50px;
    font-size: 20px;
}

/* 3번 문항 */
table{
    border-spacing: 10px;
    margin-left: 50px;
}
/* 3번문항-교양 영역 */
tr>th{
    color:#40BBCA;
}
td{
    width: 300px;
}
footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background-color: #E8E8E8;
    align-items: center;
    margin-top: 30px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer-left div{
    padding: 2px;
    color: #A5A5A5;
}