{% extends "base.html" %}
{% load static %}
{% block content %}

        <section id="section-block">
            <div id="section-class_box">
                <p><strong>대학정보 > 장학금</strong></p>
            </div>
            <div id="section-search_box">
                <form id="div-search_time_table">
                    <input type="text" id="form-search_text">
                    <button type="button" id="form-search_button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div id="section-information_list">
                <table id="div-information_list_table">
                    <tr>
                        <th><div>장학금</div></th>
                        <th><div>기관명</div></th>
                        <th><div>신청마감</div></th>
                    </tr>
                    <tr>
                        <td>월정 김용복 장학 (2023년)</td>
                        <td>용복장학회</td>
                        <td>2023.01.10 (D+84)</td>
                    </tr>
                    <tr>
                        <td>고양시 대학생 본인부담 등록금 지원(2022년 2학기)</td>
                        <td>고양시</td>
                        <td>2022.11.30 (D+125)</td>
                    </tr>
                    <tr>
                        <td>월정 김용복 장학 (2023년)</td>
                        <td>용복장학회</td>
                        <td>2023.01.10 (D+84)</td>
                    </tr>
                    <tr>
                        <td>고양시 대학생 본인부담 등록금 지원(2022년 2학기)</td>
                        <td>고양시</td>
                        <td>2022.11.30 (D+125)</td>
                    </tr>
                    <tr>
                        <td>월정 김용복 장학 (2023년)</td>
                        <td>용복장학회</td>
                        <td>2023.01.10 (D+84)</td>
                    </tr>
                    <tr>
                        <td>고양시 대학생 본인부담 등록금 지원(2022년 2학기)</td>
                        <td>고양시</td>
                        <td>2022.11.30 (D+125)</td>
                    </tr>
                    <tr>
                        <td>월정 김용복 장학 (2023년)</td>
                        <td>용복장학회</td>
                        <td>2023.01.10 (D+84)</td>
                    </tr>
                    <tr>
                        <td>고양시 대학생 본인부담 등록금 지원(2022년 2학기)</td>
                        <td>고양시</td>
                        <td>2022.11.30 (D+125)</td>
                    </tr>
                    <tr>
                        <td>월정 김용복 장학 (2023년)</td>
                        <td>용복장학회</td>
                        <td>2023.01.10 (D+84)</td>
                    </tr>
                    <tr>
                        <td>고양시 대학생 본인부담 등록금 지원(2022년 2학기)</td>
                        <td>고양시</td>
                        <td>2022.11.30 (D+125)</td>
                    </tr>
                    <tr>
                        <td>월정 김용복 장학 (2023년)</td>
                        <td>용복장학회</td>
                        <td>2023.01.10 (D+84)</td>
                    </tr>
                    <tr>
                        <td>고양시 대학생 본인부담 등록금 지원(2022년 2학기)</td>
                        <td>고양시</td>
                        <td>2022.11.30 (D+125)</td>
                    </tr>
                    <tr>
                        <td>월정 김용복 장학 (2023년)</td>
                        <td>용복장학회</td>
                        <td>2023.01.10 (D+84)</td>
                    </tr>
                    <tr>
                        <td>고양시 대학생 본인부담 등록금 지원(2022년 2학기)</td>
                        <td>고양시</td>
                        <td>2022.11.30 (D+125)</td>
                    </tr>
                    <tr>
                        <td>월정 김용복 장학 (2023년)</td>
                        <td>용복장학회</td>
                        <td>2023.01.10 (D+84)</td>
                    </tr>
                    <tr>
                        <td>고양시 대학생 본인부담 등록금 지원(2022년 2학기)</td>
                        <td>고양시</td>
                        <td>2022.11.30 (D+125)</td>
                    </tr>
                </table>
            </div>
        </section>
{% endblock %} 